{% load static %}

<footer class="d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center footer-dark" style="background: rgb(238,244,247);padding-top: 0px;padding-bottom: 0;">
    <div class="container text-start d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center justify-content-xxl-start" style="padding-top: 29px;padding-bottom: 17px;">
        <div class="row" style="width: 100%;">
            <div class="col-lg-7 col-xl-8 col-xxl-8 d-lg-flex d-xl-flex justify-content-lg-start justify-content-xl-start">
                <p class="text-start d-xxl-flex justify-content-xxl-start" style="text-align: center;color: rgb(109,113,115);">© Copyright 2021 - TEC Consultoria Banker. Todos os direitos reservados.<br></p>
            </div>
            <div class="col"><a href="#" style="color: #848484;">Termos de Uso<br></a></div>
            <div class="col"><a href="#" style="color: #848484;">Política de Privacidade<br></a></div>
        </div>
    </div>
</footer>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/theme.js' %} " ></script>

  

