{% extends 'base.html' %}
{% load static  %}
{% block content %}

<div class="container" style="margin-top: 100px;margin-bottom: 44px;">
    <div class="row">
        <div class="col-md-12">
            <h1 style="margin-bottom: 32px;color: rgb(95,95,95);"><strong>Nossos Pilares</strong><br></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h1 style="color: rgb(95,95,95);"><strong>Somos</strong><br><strong>humanos_</strong><br></h1>
            <p style="font-weight: normal;font-size: 12px;color: rgb(95,95,95);"><strong>Celebramos o mundo digital, as inovações e a tecnologia de ponta. Mas, ainda acreditamos que é o fator humano que faz a diferença. E quando o assunto é finanças, nada melhor do que falar de pessoas para pessoas.</strong><br></p>
        </div>
        <div class="col-md-3">
            <h1 style="color: rgb(95,95,95);"><strong>Somos</strong><br><strong>abertos_</strong><br></h1>
            <p style="font-weight: normal;font-size: 12px;color: rgb(95,95,95);"><strong>Não acreditamos em reservas de mercado. A concentração bancária atrapalha o desenvolvimento de uma sociedade financeiramente empoderada. Entendemos que cada indivíduo requer soluções específicas que só são possíveis com a arquitetura aberta, um modelo flexível que permite poder de escolha e personalização.</strong><br></p>
        </div>
        <div class="col-md-3">
            <h1 style="color: rgb(95,95,95);"><strong>Somos</strong><br><strong>responsáveis_</strong><br></h1>
            <p style="font-weight: normal;font-size: 12px;color: rgb(95,95,95);"><strong>Tratamos com seriedade cada parceria, por isso temos um time de profissionais que fazem a curadoria dos produtos e serviços. Isso garante a autonomia para trabalharem com produtos sérios e de alto desempenho, e a certeza para o consumidor que terá indicações confiáveis e sem asteriscos.</strong><br></p>
        </div>
        <div class="col-md-3">
            <h1 style="color: rgb(95,95,95);"><strong>Somos</strong><br><strong>dinâmicos_</strong><br></h1>
            <p style="font-weight: normal;font-size: 12px;color: rgb(95,95,95);"><strong>O mundo muda o tempo todo, nossa plataforma e parceiros também. Nosso futuro será construído com seriedade, mas com foco na conexão entre a experiência digital e o atendimento humano e próximo.</strong><br></p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row" style="margin-right: 0;">
        <div class="col-md-6 order-last order-sm-last order-md-first"><img class="img-fluid" style="width: 100%;" src="{% static 'assets/img/img_home/foto_sobre.jpg' %}"></div>
        <div class="col-md-6" style="padding: -1;">
            <h2 style="color: rgb(95,95,95);font-family: Roboto, sans-serif;font-weight: bold;">Nossa missão é fazer o dia a dia de quem trabalha com pagamentos mais descomplicado e seguro<br></h2>
            <p style="font-weight: normal;font-size: 12px;color: rgb(95,95,95);">TEC Banker é especialista em soluções e tecnologia financeira. Atualmente disponibilizamos soluções para processamento de pagamentos e de validação de dados bancários.<br>A startup nasceu da vontade de simplificar rotinas financeiras e operações de TED e DOC.&nbsp;<br><br>Nosso time de tecnologia está pronto e preparado para a operação de empresas de diversos tamanhos, desde startups até grandes companhias. Você pode executar um ou milhares de pagamentos com a mesma facilidade e eficiência.<br><br></p>
        </div>
    </div>
</div>

{% endblock content %}
