{% load static  %}

<footer class="sticky-footer" style="background: #2027334d">
                    <div class="container my-auto">
                        <div class="text-center my-auto copyright">
                        <span>© Copyright 2021 - TEC Consultoria Banker. Todos os direitos reservados.<br></span>
                        </div>
                    </div>
                </footer>
            </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
        </div>
        <script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
        <script src="{% static 'assets/js/theme.js'%}"></script>
        <script src="{% static 'assets/js/chart.min.js'%}"></script>
        <script src="{% static 'assets/js/bs-init.js'%}"></script>
        <script src="{% static 'assets/js/funcoes_moedas_cpf.js'%}"></script>
        

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

        {# SCRIPT PARA O MODAL DO BOOTSTRAP FUNCIONAR#}     
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
