
<!-- Modal -->
<div class="modal fade" id="modal_pix" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-color">
      <div class="modal-header" style="border-bottom: 1px solid #14161c">
        <h5 class="modal-title" id="exampleModalLongTitle" style=" font-size: 18px; color: #949494;"><i class="fa fa-window-maximize alt fa-2x" style=" font-size: 17px;"></i> - Transferência PIX</h5>
        <button type="button" class="close border-0" data-dismiss="modal" aria-label="Close" style="background-color: #20273300">
          <div>
            <i class="fas fa-circle -alt fa-2x" style="color: #29cd3f; font-size: 12px;"></i>
            <i class="fas fa-circle -alt fa-2x" style="color: #fabf2f; font-size: 12px;"></i>
            <i class="fas fa-circle -alt fa-2x" style="color: #f46455; font-size: 12px;"></i>
         </div>
        </button>
      </div>
      <div class="modal-body">
            <div class="row">
               <div class="col-2 text-center d-flex justify-content-center align-items-center">
                  <i class="fa fa-exclamation-triangle" style="color: #fabf2f; font-size: 30px;"></i>
               </div>
               <div class="col d-flex align-items-center">
                  <h6>Brevemente iremos disponibilizar a transferência instantânea com PIX.</h6>
               </div>
            </div>
      </div>
      <div class="modal-footer" style="border-top: 1px solid #14161c">
        <button type="button" class="btn" data-dismiss="modal" style="background-color: #ff8787; color: #860000">Sair</button>
      </div>
    </div>
  </div>
</div>